@font-face {
    font-family: 'CustomFont';
    src: url('kremlin.ttf') format('truetype');
  }
  
  body {
    font-family: 'CustomFont', sans-serif;
    background-color: crimson;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Flag_of_the_Soviet_Union_%281922%E2%80%931923%29.svg/2560px-Flag_of_the_Soviet_Union_%281922%E2%80%931923%29.svg.png');
    background-size: cover;
  }
  
  #sovietmus {
    width: 300px;
    background-color: darkred;
  }