body {
    font-family: 'CustomFont';
    background-color: crimson;
}
@font-face {
    font-family: 'CustomFont';
    src: url('Red\ October-Fat.ttf') format('truetype');
  
  }
  .container {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Emblema_KGB.svg/1200px-Emblema_KGB.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 900px; 
    height: 600px; 
    margin: 0 auto; 
  }